:root {
  --primary-text-color:#212121;
  --primary-bg-color:#FFFFFF;
  --accent-color:#2196F3;
  --secondary-text-color:#757575;
  --secondary-bg-color:#2F303A;
  --primary-cubic-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --hero-button-hover-color: #188ce8;
  --svg-links-color: #afb1b8;
  --team-background-color: #f5f4fa;
  --header-border-color: #ececec;
  --projects-border-color: #eeeeee;
}

body {
  background: var(--primary-bg-color);
  color: var(--secondary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.profession__text, .modal-button, .hero__button, .check-text span, .check-text, .close-button {
  display: flex;
  align-items: center;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--primary-cubic-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: var(--primary-cubic-function);
  padding: 40px 39px 40px 41px;
}

.modal-title {
  font-size: 20px;
  line-height: 1.04;
  font-weight: 700;
  color: var(--primary-text-color);
  margin: 0 0 12px 0;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 42px;
  font: inherit;
}
.modal-input:focus, .modal-input:hover {
  border: 1px solid var(--accent-color);
  outline: transparent;
}

.modal-text {
  width: 100%;
  height: 120px;
  padding-left: 16px;
  padding-top: 12px;
  border-radius: 4px;
  resize: none;
  margin-top: 4px;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.modal-text::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-text:focus, .modal-text:hover {
  border: 1px solid var(--accent-color);
  outline: transparent;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  justify-content: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: var(--primary-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition-property: fill;
  transition: var(--primary-cubic-function);
}
.close-button:hover, .close-button:focus {
  fill: var(--accent-color);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  display: inline-block;
  width: 18px;
  height: 18px;
}
.modal-input:hover + .form-icon {
  fill: var(--accent-color);
}
.modal-input:focus + .form-icon {
  fill: var(--accent-color);
}

.form-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.input-wrap {
  position: relative;
}

.form-field {
  margin-bottom: 10px;
}

.check-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.check-text a {
  color: var(--accent-color);
  text-decoration-line: underline;
}
.check-text span {
  margin-right: 8px;
  justify-content: center;
}

.check-icon {
  border: 1px solid var(--primary-text-color);
  background-color: transparent;
  fill: transparent;
  transition: border var(--primary-cubic-function);
}

.modal-check {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 20px;
}

.input-check:checked + .check-text span {
  background-color: var(--accent-color);
  border: none;
}

.input-check:checked + .check-text .check-icon,
.input-check:hover + .check-text .check-icon {
  fill: var(--primary-bg-color);
  border: 1px solid var(--accent-color);
}

.button {
  border-radius: 4px;
  min-width: 200px;
  padding: 10px 32px;
  background-color: var(--accent-color);
  cursor: pointer;
  margin: 0 auto;
  display: block;
  font-family: inherit;
  border: 1px solid transparent;
}

.hero__button {
  color: var(--primary-bg-color);
  text-align: center;
  font-weight: 700;
  line-height: 1.87;
  font-size: 16px;
  letter-spacing: 0.06em;
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--hero-button-hover-color);
}

.modal-button {
  border-radius: 4px;
  min-width: 200px;
  color: var(--primary-bg-color);
  font-weight: 700;
  line-height: 1.87;
  font-size: 16px;
  letter-spacing: 0.06em;
  text-align: center;
  padding: 10px 55px 10px 56px;
  background-color: var(--accent-color);
  cursor: pointer;
  margin: 0 auto;
  display: block;
  font-family: inherit;
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.modal-button:hover, .modal-button:focus {
  background-color: var(--hero-button-hover-color);
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--primary-text-color);
  text-align: center;
  font-weight: 700;
  line-height: 1.17;
  font-size: 36px;
  letter-spacing: 0.03em;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__conteiner {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.menu {
  display: none;
}
@media screen and (min-width: 768px) {
  .menu {
    display: flex;
  }
}

.nav__menu {
  margin-left: 88px;
}
@media screen and (min-width: 1200px) {
  .nav__menu {
    margin-left: 93px;
  }
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: block;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
  }
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.hader__logo {
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo--color-dark {
  color: #000000;
}

.menu {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.menu__link {
  display: block;
  padding: 32px 0;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link:hover, .menu__link:focus,
.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}

.menu__link--current-color {
  position: relative;
  color: var(--accent-color);
}
.menu__link--current-color::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  transform: translateY(1px);
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.contacts__item:not(:last-child) {
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 50px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    padding: 32px 0;
    font-size: 14px;
    line-height: 1.14;
  }
}

.contacts__icon {
  margin-right: 8px;
  fill: currentColor;
}
@media screen and (min-width: 1200px) {
  .contacts__icon {
    margin-right: 10px;
  }
}

.contacts__icon--envelope {
  width: 14px;
  height: 10px;
}
@media screen and (min-width: 1200px) {
  .contacts__icon--envelope {
    width: 16px;
    height: 14px;
  }
}

.contacts__icon--smartphone {
  width: 10px;
  height: 14px;
}
@media screen and (min-width: 1200px) {
  .contacts__icon--smartphone {
    height: 16px;
  }
}

.menu-btn {
  padding: 0;
  border: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
  margin-left: auto;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-btn:hover, .menu-btn:focus {
  fill: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu-mob {
  position: fixed;
  background-color: var(--main-backgr-color);
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: scale(1);
  transform-origin: top right;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .menu-mob {
    display: none;
  }
}

.menu-mob.is-hidden {
  transform: scale(0);
}

.menu-mob__conteiner {
  padding: 10px 15px 48px 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  overflow: auto;
  background-color: #fff;
}

.menu-mob__wrap-top {
  margin-bottom: 50px;
}

.menu-close-btn {
  display: block;
  padding: 0;
  border: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
  margin-left: auto;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-close-btn:hover, .menu-close-btn:focus {
  fill: var(--accent-color);
}

.menu-mob__list {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.menu-mob__item:not(:last-child),
.contacts-mob__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-mob__link {
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-mob__link:hover, .menu-mob__link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.contacts-mob {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-bottom: 64px;
}

.contacts-mob__link {
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-mob__link:hover, .contacts-mob__link:focus {
  color: var(--accent-color);
}

.contacts-mob__tel {
  font-size: 30px;
  line-height: 1.18;
  color: var(--accent-color);
}
@media screen and (min-width: 420px) {
  .contacts-mob__tel {
    font-size: 34px;
  }
}

.socials-list {
  display: flex;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 420px) {
  .socials-list {
    font-size: 18px;
  }
}

.socials-list__item:not(:first-child) {
  padding-left: 10px;
}

.socials-list__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.socials-list__link {
  color: var(--accent-color);
}

.hero {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 118px 0;
  text-align: center;
  background-color: var(--secondary-bg-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-m.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  letter-spacing: 0.06em;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-m@2x.jpg);
  }
}
@media screen and (min-width: 480px) {
  .hero {
    background-color: #2f303a;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-t.jpg);
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-t@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-color: #2f303a;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-d.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-d@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  max-width: 360px;
  margin: 0 auto 30px;
  color: var(--primary-bg-color);
  font-weight: 900;
  line-height: 1.62;
  font-size: 26px;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    line-height: 1.36;
    font-size: 44px;
    letter-spacing: 0.06em;
    min-width: 696px;
  }
}

.about {
  padding: 60px 0;
}
.about__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.about__icon-wrapper {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: var(--team-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
}
.about__title {
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: black;
}
.about__description {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

@media screen and (min-width: 768px) {
  .about__title {
    text-align: left;
  }
  .about__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .about {
    padding: 94px 0;
  }
  .about__item {
    width: calc((100% - 90px) / 4);
  }
}
.profession {
  padding-bottom: 94px;
  display: none;
}
.profession ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.profession__item {
  position: relative;
}

.profession__image {
  max-width: 100%;
}

.profession__text {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 70px;
  margin: 0;
  padding: 0;
  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-bg-color);
}

@media screen and (min-width: 1200px) {
  .profession {
    display: flex;
  }
}
.team {
  background-color: #f5f4fa;
  padding: 60px 0;
}
@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
  }
}
.team__item {
  background-color: var(--primary-bg-color);
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 120px) / 4);
  }
}
.team__content {
  padding-top: 30px;
  padding-bottom: 24px;
}
.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.19;
  font-size: 16px;
  color: var(--primary-text-color);
}
.team__position {
  line-height: 1.19;
  font-size: 16px;
  margin-bottom: 16px;
}

.soc-list {
  display: flex;
  justify-content: center;
}

.soc-list__item:not(:last-child) {
  margin-right: 10px;
}

.soc-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--primary-bg-color);
  transition: background-color var(--primary-cubic-function), color var(--primary-cubic-function);
}
.soc-list__link:hover, .soc-list__link:focus {
  background-color: #2196F3;
  fill: var(--primary-bg-color);
  outline: transparent;
  color: white;
}

.soc-list__icon {
  fill: var(--svg-links-color);
}
.soc-list__icon:hover, .soc-list__icon:focus {
  fill: var(--primary-bg-color);
}

.team__title {
  margin-bottom: 30px;
  color: var(--primary-text-color);
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
    color: var(--primary-text-color);
  }
}

.clients {
  padding: 94px 0;
}
.clients__title {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin: 0 0 30px 0;
  padding: 0;
  color: var(--primary-text-color);
}
@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    margin-bottom: 50px;
    line-height: 1.67;
  }
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.clients__item {
  flex-basis: calc((100% - 30px) / 2);
  height: 92px;
}
.clients__link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  outline: transparent;
  border: 1px solid var(--svg-links-color);
  border-radius: 4px;
  color: var(--svg-links-color);
  transition: color var(---primary-cubic-function), border-color var(--primary-cubic-function);
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}
.clients__icon {
  fill: currentColor;
}
@media screen and (max-width: 480px) {
  .clients {
    padding: 60px 0;
  }
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}
.footer {
  text-align: center;
  padding: 30px 0;
  background-color: #2f303a;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #FFFFFF;
}

.address-wrapper {
  margin-bottom: 60px;
}

.footer__logo {
  margin-bottom: 20px;
}
.footer__logo--second-part {
  color: #FFFFFF;
}

.address-join-wrapper {
  margin-bottom: 60px;
}

.address {
  display: block;
  font-style: normal;
}

.address__location {
  margin-bottom: 9px;
  color: #FFFFFF;
}

.footer-contacts__item:first-of-type {
  margin-bottom: 9px;
}

.footer-contacts__link {
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--primary-cubic-function);
}
.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: var(--accent-color);
  transition: color var(--primary-cubic-function);
}

.join__title {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.socials {
  display: flex;
  justify-content: center;
}
.socials__item:not(:last-child) {
  margin-right: 10px;
}
.socials__link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border-radius: 50%;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--primary-cubic-function);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
}
.socials__icon {
  fill: currentColor;
}

.subscribe__title {
  display: block;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subscribe__input {
  color: var(--primary-bg-color);
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  border-radius: 4px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: #2f303a;
}

.subscribe__button {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.67;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe__icon {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .address-join-wrapper {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
  }
  .address-wrapper {
    margin-bottom: 0;
  }
  .join {
    margin-bottom: 0;
  }
  .subscribe__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    text-align: left;
  }
  .footer .container {
    display: flex;
    align-items: baseline;
  }
  .address-join-wrapper {
    margin-right: auto;
    margin-bottom: 0;
    align-items: baseline;
  }
  .address-wrapper {
    margin-right: 70px;
  }
  .join {
    margin-right: auto;
    margin-bottom: 0;
  }
  .subscribe__form {
    display: flex;
    align-items: flex-end;
  }
  .subscribe__label {
    margin-right: 12px;
  }
  .subscribe__input {
    width: 358px;
    margin-bottom: 0;
  }
  .subscribe__button {
    margin: 0;
  }
}
.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.projects__item {
  width: 100%;
  outline: 1px solid #eeeeee;
}
.projects__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  transition: box-shadow var(--primary-cubic-function);
}
.projects__link:hover, .projects__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06);
}
.projects__link:hover .projects__description-wrapper, .projects__link:focus .projects__description-wrapper {
  transform: translateY(0);
}
.projects__figure {
  position: relative;
  overflow: hidden;
}
.projects__description-wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  overflow-y: scroll;
  transform: translateY(101%);
  transition: transform var(--primary-cubic-function);
  background-color: rgba(33, 150, 243, 0.9);
}
.projects__description {
  width: calc(100% - 48px);
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
}
.projects__caption {
  flex-grow: 1;
  padding: 20px 24px;
}
.projects__title {
  color: #212121;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects__category {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.88;
}

@media screen and (min-width: 480px) {
  .projects__description-wrapper {
    align-items: center;
    padding: 0 24px;
  }
}
@media screen and (min-width: 768px) {
  .projects__item {
    width: calc((100% - 30px) / 2);
  }
  .projects__description-wrapper {
    overflow-y: hidden;
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .projects__item {
    width: calc((100% - 60px) / 3);
  }
}
.portfolio {
  padding: 60px 0;
}
.portfolio__nav {
  display: flex;
  margin-bottom: 40px;
  flex-wrap: wrap;
  gap: 15px 8px;
}
@media screen and (min-width: 768px) {
  .portfolio__nav {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__nav {
    margin-bottom: 50px;
  }
}
.portfolio__button {
  padding: 6px 22px;
  height: 38px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  background-color: #f5f4fa;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: color var(--primary-cubic-function), background-color var(--primary-cubic-function), box-shadow var(--primary-cubic-function);
}
.portfolio__button:hover, .portfolio__button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08);
  background-color: var(--accent-color);
  color: #ffffff;
}
.portfolio__button--current {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08);
  background-color: var(--accent-color);
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .portfolio__nav {
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding: 94px 0;
  }
  .portfolio__nav {
    margin-bottom: 50px;
  }
}
.filtres ul {
  display: flex;
  justify-content: center;
  margin: 0 auto 50px;
}
.filtres .item:not(:last-child) {
  margin-right: 8px;
}/*# sourceMappingURL=main.css.map */