.filtres {
    ul{
        display: flex;
        justify-content: center;
        margin: 0 auto 50px;
    }

    .item:not(:last-child){
        margin-right: 8px;
    }

}

.filtres button{
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    padding: 6px 22px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    font-family: inherit;
    border-style: none;
    cursor: pointer;

    & button:hover,
    & button:focus{
    color:var(--primary-bg-color);
    background-color: var(--accent-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}


