.hero{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 118px 0;
    text-align: center;     
    background-color: var(--secondary-bg-color);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
         ), 
        url(../images/hero-bg-m.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    letter-spacing: 0.06em;
    @include retina {
		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-m@2x.jpg);
	}
	@include mobile {
		background-color: #2f303a;
		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-t.jpg);
		@include retina {
			background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-t@2x.jpg);
		}
	}
	@include tablet {
		background-color: #2f303a;
		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-d.jpg);
		@include retina {
			background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-d@2x.jpg);
		}
	}
    @include desktop {
		padding-top: 200px;
		padding-bottom: 200px;
	}
}

.hero__title {
    // padding:0;
    // margin: 0 auto 30px auto;
    // width: 696px;
    max-width: 360px;
    margin: 0 auto 30px;
    color: var(--primary-bg-color);
    @include font(900, 1.62, 26px, null);
    text-transform: uppercase;
    text-align: center;
    // margin-bottom: 30px;
    @include desktop {
		@include font(900, 1.36, 44px, 0.06em);
        min-width: 696px;
	}
}

