
.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  &__item {
    width: 100%;
    outline: 1px solid #eeeeee;
  }
  &__link {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    transition: box-shadow var(--primary-cubic-function);
    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06);
    }
    &:hover .projects__description-wrapper,
    &:focus .projects__description-wrapper {
      transform: translateY(0);
    }
  }
  &__figure {
    position: relative;
    overflow: hidden;
  }
  &__description-wrapper {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    overflow-y: scroll;
    transform: translateY(101%);
    transition: transform var(--primary-cubic-function);
    background-color: rgba(33, 150, 243, 0.9);
  }
  &__description {
    width: calc(100% - 48px);
    font-size: 18px;
    line-height: 1.56;
    color: #ffffff;
  }
  &__caption {
    flex-grow: 1;
    padding: 20px 24px;
  }
  &__title {
    color: #212121;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }
  &__category {
    margin-top: 4px;
    font-size: 16px;
    line-height: 1.88;
    color: #757575;
    margin-top: 4px;
    font-size: 16px;
    line-height: 1.88;
  }
}

@media screen and (min-width: $mobile) {
  .projects__description-wrapper {
    align-items: center;
    padding: 0 24px;
  }
}
@media screen and (min-width: $tablet) {
  .projects__item {
    width: calc((100% - 30px) / 2);
  }
  .projects__description-wrapper {
    overflow-y: hidden;
    padding: 0;
  }
}
@media screen and (min-width: $desktop) {
  .projects__item {
    width: calc((100% - 60px) / 3);
  }
}

.portfolio {
  padding: 60px 0;
  &__nav {
    display: flex;
    margin-bottom: 40px;
    flex-wrap: wrap;
    gap: 15px 8px;

    @include tablet {
      justify-content: center;
      margin-bottom: 30px;
    }
    @include desktop {
      margin-bottom: 50px;
    }

  }
  &__button {
    padding: 6px 22px;
    height: 38px;
    border-radius: 4px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    background-color: #f5f4fa;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: color var(--primary-cubic-function),
      background-color var(--primary-cubic-function),
      box-shadow var(--primary-cubic-function);
    &:hover,
    &:focus {
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08);
      background-color: var(--accent-color);
      color: #ffffff;
    }
    &--current {
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08);
      background-color: var(--accent-color);
      color: #ffffff;
    }
  }
}

@media screen and (min-width: $tablet) {
  .portfolio__nav {
    justify-content: center;
  }
}
@media screen and (min-width: $desktop) {
  .portfolio {
    padding: 94px 0;
  }
  .portfolio__nav {
    margin-bottom: 50px;
  }
}

.filtres {
  ul{
      display: flex;
      justify-content: center;
      margin: 0 auto 50px;
  }

  .item:not(:last-child){
      margin-right: 8px;
  }

}


