.team{
    padding: 94px 0;
    background-color: var(--team-background-color);

    ul{
        display:flex;
    }

    .team__container {
        flex-direction: column;
    }
    
}

.team__item {
    background: var(--primary-bg-color);
    width: 270px;
        overflow: hidden;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    h3{
        padding: 0;
        margin: 0  0 10px 0;
        @include font(500, 1.18, 16px, 0.03em);
        text-align: center;
        color: var(--primary-text-color);
    }

    p{
        margin: 0;
        padding: 0;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--secondary-text-color);
    }

}
.team__list .team__item:not(:last-child){
    margin-right: 30px;
}

.team__container {
    padding: 30px 0;
}

.team-social__list{
    display:flex;
    margin-top: 16px;
    justify-content: center;
}

.team-social__link{
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @extend %align-list;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    &:hover, 
    &:focus {
        background-color: var(--accent-color);
    }
}

.team-social__item {
    width: 44px;
    height: 44px;
    margin-left: 10px;

    &:first-child{
        margin-left: 0;
    }
}

.team-social__icon{
    fill:var(--svg-links-color);

    .team-social__link:hover &, 
    .team-social__link:focus & {
    fill:var(--primary-bg-color);
}
}